# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Package directories
*.egg-info/
dist/
build/

# Cache directories
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Local databases
*.sqlite3
